/* Custom Props  */
:root{
     --main-font: "Livvic", "Arial", sans-serif;
     --white-color: #fff;
     --black-color: #222;
     --midnight-green: #014E56;
     --light-coral: #F67E7E;
     --rapture-blue: #79C8C7;
     --deep-jungle-green: #004047;
     --Sacramento-Green: #012F34;
     --dark-green: #002529;
     --border-radius-color: #C4FFFE;

}

/* Font-Face  */
@font-face {
     font-family: "Livvic";
     src: url("/fonts/Livvic-Bold.woff2") format("woff2"),
         url("/fonts/Livvic-Bold.woff") format("woff");
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: "Livvic";
     src: url("/fonts/Livvic-Medium.woff2") format("woff2"),
         url("/fonts/Livvic-Medium.woff") format("woff");
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: "Livvic";
     src: url("/fonts/Livvic-SemiBold.woff2") format("woff2"),
         url("/fonts/Livvic-SemiBold.woff") format("woff");
     font-weight: 600;
     font-style: normal;
     font-display: swap;
 }


/* Global  */

html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;

}

*,
*::after,
*::before{
     box-sizing: border-box;
}

body{
     padding: 0;
     margin: 0;
     display: flex;
     font-size: 16px;
     line-height: 1.5 ;
     font-family: var(--main-font);
     flex-direction: column;
     height: 100%;
     background-color: var(--white-color);
     color: var(--white-color);
}

img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
     padding-left:165px;
     padding-right: 165px;
}

/* Main content  */
.main-content{
     flex-grow: 1;
}


.main-section {
     /* background-color: var(--midnight-green); */
}

.main-header {
     background-color: var(--midnight-green);
}
.navbar {
     display: flex;
     margin: 0;
     padding: 0;
     padding-top: 73px;
}
.navbar-list:nth-child(2){
     margin-right: 40px;
}

.navbar-list:nth-child(3){
     margin-right: auto;
}
.navbar-list {
     list-style: none;
     display: flex;
     align-items: center;
     margin: 0;
     padding: 0;
     text-align: center;
}
.navbar-list-logo{
     margin-right: 80px;
     align-items: center;
     display: flex;
}

.navbar-logo-img{
     width: 160px;
     height: 40px;
}
.navbar-list-link {
     color: var(--white-color);
     text-decoration: none;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     text-align: center;
}


/* Hover elemets  */
.navbar-list-logo:hover{
     color: var(--light-coral);
}
 .navbar-list-link:hover{
     color: var(--light-coral);
}
.navbar-list-link:active{
     color: var(--light-coral);
     opacity: 0.8;
}
.navbar-list-btn{
     margin-left: 20px;
     color: var(--white-color);
     text-decoration: none;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     border: 2px solid var(--white-color);
     border-radius: 24px;
     padding: 9px 33px 11px 32px ;
}

/* Hover  */
.navbar-list-btn:hover{
     color: var(--black-color);
     background-color: var(--white-color);
}
.navbar-list-btn:active{
     color: var(--black-color);
     background-color: var(--white-color);
     opacity: 0.8;
}
.header-section {
     margin-top: 129px;
     display: flex;
     align-items: end;
     padding-bottom: 250px;
     position: relative;
}
.header-section::before{
     position: absolute;
     width: 200px;
     height: 200px;
     content: "";
     background-image: url("/images/hero-circle-dark.svg");
     left: -265px;
     transform: rotate(0.01deg);

}

.header-section::after{
     position: absolute;
     width: 358px;
     height: 200px;
     content: "";
     background-image: url("/images/hero-circle-red.svg");
     background-repeat: no-repeat;
     left: 68%;
     top: 80%;
     z-index: 1;
}
.header-section-heaading {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 100px;
     line-height: 100px;
     margin-right: auto;
}
.header-span {
     color: var(--light-coral);
     margin: 0;
     padding: 0;
}

.header-section-text {
     margin: 0;
     padding: 0;
     width: 445px;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     display: flex;
     position: relative;
}

/* Decorations  */
.header-section-text::before{

     content: "";
     width: 50px;
     height: 4px;
     background-color: var(--rapture-blue);
     position: absolute;
     top: -80%;

}


/* INFO_SECTION  */

.info-section {
     margin: 0;
     padding: 0;
}
.info-section-inner {
     position: relative;
     background-color: var(--Sacramento-Green);
     padding-top: 198px;
     z-index: 5;
     padding-bottom: 162px;

}
.info-section-wrapper{
     margin: 0;
     padding: 0;
     display: flex;

}

/* Decorations  */
.info-section-wrapper::before{
     content: "";
     width: 50px;
     height: 4px;
     background-color: var(--light-coral);
     position: absolute;
     top: 20%;
}
.info-section-wrapper::after{
     position: absolute;
     width: 358px;
     height: 200px;
     content: "";
     background-image: url("/images/clients-circle.svg");
     background-repeat: no-repeat;
     right: -18%;
     bottom: 0px;
}
.info-section-heading {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 48px;
     width: 445px;
     margin-right: auto;
}
.info-section-extra {
     display: flex;
}
.info-section-extra-inner {
     margin: 0;
     padding: 0;
}
.info-box{
     display: flex;
     margin-bottom: 32px;

}
.info-section-extra-inner-img {
     width: 72px;
     height: 72px;
     margin-right: 23px;
     display: block;
}
.info-text-wrapper {
     margin: 0;
     padding: 0;
     width: 445px;
}
.info-text-heading {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 28px;
     color: var(--light-coral);

}
.info-text {
     margin: 0;
     padding: 0;
     margin-top: 16px;
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     line-height: 25px;
     mix-blend-mode: normal;
     opacity: 0.8;
}

/* SUCCESS_STORY_SECTION  */

.success-stories-section {
     background-color: var(--midnight-green);
}
.success-stories-section-wrapper{
     padding-bottom: 140px;

}
.success-heading {
     margin: 0;
     padding: 0;
     padding-top: 140px;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 48px;
     text-align: center;
     padding-bottom: 56px;
}
.success-stories-span{
     color: var(--rapture-blue);
}
.success-stories-info {
     display: flex;
     position: relative;

}

/* Decoration top  */
.success-stories-info::before{
     content: "";
     width: 147px;
     height: 100px;
     background-image: url("/images/directors-rect.svg");
     position: absolute;
     top: -106%;
     left: -165px;
}

.success-stories-info::after{
     position: absolute;
     width: 200px;
     height: 200px;
     content: "";
     background-image: url("/images/reviews-bg-right.svg");
     background-repeat: no-repeat;
     right: -165px;
     bottom: -240px;
     z-index: 1;
}
.success-stories-inner {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.success-stories-text {
     margin: 0;
     padding: 0;
     text-align: center;
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     line-height: 25px;
}
.success-story-names {
     margin: 0;
     padding: 0;
     margin-top: 24px;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 28px;
     color: var(--rapture-blue);
}
.success-story-position {
     margin: 0;
     padding: 0;
     margin-top: 2px;
     font-style: italic;
     font-weight: 500;
     font-size: 13px;
     line-height: 18px;
     color: var(--white-color);
}
.success-story-img {
     margin-top: 32px;
     width: 62px;
     height: 62px;
     border: 2px solid var(--border-radius-color);
     border-radius: 50%;
     margin-bottom: 11px;
}
/* <!-- CONTACT_SECTION --> */
.contact-section {
     background-color: var(--light-coral);
     padding-top: 76px;
     padding-bottom: 76px;
     z-index: 5;
     position: relative;
}
.contact-section-wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-right: 100px;
     margin-left: 100px;

}

/* CONTACT_SECTION_DECORATION */
.contact-section-wrapper::before{
     content: "";
     width: 200px;
     height: 244px;
     background-image: url("/images//cta-bg.svg");
     position: absolute;
     top: 56px;
     left: 0;
     z-index: 1;
}
.contact-heading {
     padding: 0;
     margin: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 48px;
     color: var(--Sacramento-Green);
}
.contact-btn {
     width: 153px;
     height: 48px;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     background-color:var(--light-coral);
     color: var(--Sacramento-Green);
     padding: 0;
     margin: 0;
     text-decoration: none;
     border: 2px solid var(--Sacramento-Green);
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 30px;
     cursor: pointer;
}

.contact-btn:hover{
     background-color:var(--Sacramento-Green);
     color: var(--white-color);
}
.footer-section {
}
.footer-section-wrapper {
     background-color: var(--dark-green);
     z-index: 5;
     position: relative;
     padding-top: 48px;
     padding-bottom: 48px;
     display: flex;
}
.setion-footer {
     margin: 0;
     padding: 0;
     margin-right: 125px;
}
.footer-links{
}
.footer-list-link:nth-child(1){
     margin-right: 40px;
}
.footer-list-logo {
     margin: 0;
     padding: 0;
     display: block;
     margin-bottom: 25px;
}

.footer-list-logo-img{
     margin: 0;
     padding: 0;
}
.footer-list-link {
     color: var(--white-color);
     text-decoration: none;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
     cursor: pointer;
}

/* Hover effects */
.footer-list-link:hover{
     color: var(--light-coral);
}
.footer-list-link:active{
     color: var(--light-coral);
     opacity: 0.8;
}
.footer-adress {
     margin: 0;
     padding: 0;
     width: 175px;
     opacity: 0.6;
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     line-height: 25px;
     margin-right: auto;
}

/* SOCIALS  */
.footer-socials {
}
.footer-socials-ul {
     display: flex;
     margin: 0;
     padding: 0;
}
.footer-socials-list {
     list-style: none;
}
.footer-socials-list:not(:last-child){
     margin-right: 16px;
}
.footer-socials-link{
     color: var(--white-color);
}
.footer-socials-link:hover {
     color:var(--light-coral);
}
.footer-socials-link:active {
     color:var(--light-coral);
     opacity: 0.8;
}
.footer-socials-img {
     width: 24px;
     height: 24px;
}
.copyrights {
     margin: 0;
     padding: 0;
     margin-top: 51px;
}


/* About Page  */
.navbar-about {
     padding-bottom: 120px;
     padding-top: 120px;
     display: flex;
     justify-content: space-between;
     position: relative;
}

/* Navbar Decorations */
.navbar-about::before{
     content: "";
     width: 200px;
     height: 200px;
     background-image: url("/images/about-hero-circle.svg");
     background-repeat: no-repeat;
     position: absolute;
     bottom: -100px;
     right: -265px;
     z-index: 1;
}

.navbar-about::after{
     content: "";
     width: 50px;
     height: 4px;
     background-color: var(--light-coral);
     position: absolute;
     top: 84px;
     left: 380px;

}
.navbar-about-heading {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 100px;
}
.navbar-about-text {
     width: 730px;
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 28px;
}

/* Directors-Section  */
.directors-section {
     background-color: var(--deep-jungle-green);
     z-index: 5;
     position: relative;
}
.container {
}
.about-directors-wrapper {
     z-index: 5;
     position: relative;
}
.directors-heading {
     margin: 0;
     padding: 0;
     padding-top: 140px;
     padding-bottom: 64px;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 48px;
     text-align: center;
}
.directors-box-wrapper {
     display: flex;
     flex-direction: column;
     padding-bottom: 140px;
}
.directors-box-wrapper-top {
     display: flex;
     margin-bottom: 76px;
}
.directors-box {
     width: 350px;
     background-color: var(--Sacramento-Green);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
     padding-bottom: 56px;

}
.directors-box:not(:last-child){
     margin-right: 30px;
}
.directors-box-img {
     margin-top: 32px;
     width: 96px;
     height: 96px;
     border: 2px solid var(--border-radius-color);
     border-radius: 50%;
}

/* Last box  */
#last-box-name{
     padding-top: 20px;
}


.last-box{
     background-color:var(--dark-green);
}

.directors-name {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 28px;
     text-align: center;
     color:var(--rapture-blue);
     margin-top: 16px;
}
.directors-position {
     margin: 0;
     padding: 0;
     font-style: italic;
     font-weight: 500;
     font-size: 15px;
     line-height: 25px;
     text-align: center;
     color:var(--white-color);
}
.directors-decorstion {
     width: 56px;
     height: 56px;
     background-color:var(--light-coral);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: -27px;
     cursor: pointer;
}
.directors-decorstion:hover{
     background-color:var(--rapture-blue);
}
.decoration-img{
     width: 16px;
     height: 16px;
}
.directors-box-wrapper-bottom {
     display: flex;
}
.directors-logan {
     width: 254px;
     font-style: normal;
     font-weight: 600;
     font-size: 15px;
     line-height: 25px;
     text-align: center;
}
.director-box-socials{
     display: flex;
}
.icon-twitter {
     color:var(--white-color);
     margin-right: 16px;
}
.icon-linkedin {
     color:var(--white-color);
}

#direction-last-decoration{
     background-color:var(--rapture-blue);
}
#direction-last-decoration:hover{
     background-color:var(--light-coral);
}
/* hover effects  */
.icon-twitter:hover{
     color:var(--light-coral);
}
.icon-linkedin:hover{
     color:var(--light-coral);
}
.icon-twitter:active{
     color:var(--light-coral);
     opacity: 0.8;
}
.icon-linkedin:active{
     color:var(--light-coral);
     opacity: 0.8;
}
.clients-section {
}
.clients-section-wrapper {
}
.clients-heading {
}
.clients-inner {
}
.clients-verge-img {
}
.clients-jakarta-img {
}
.clients-guardian-img {
}
.clients-techradar-img {
}
.clients-gadgets-img {
}